%advantages_property {
    display: flex;
    align-items: center;
    p {
        font-size: 14px;
        font-weight: 400;
        margin-right: 40px;
        margin-left: 10px;
    }
}






* {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #333333;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 100%;
    box-sizing: border-box;
}
.content__outer {
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    .content__iner {
        max-width: 1310px;
        margin: 0 auto;
    }
}
.header__outer {
    background-color: #FED100;
    .header__iner {
        position: relative;
        height: 650px;
        @media screen and (max-width: 1000px) {
            height: 450px;
        }
        .nav__menu {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            padding-top: 40px;
            @media screen and (max-width: 1000px) {
                padding-top: 10px;
            }
            .nav__links {
                display: flex;
                width: 452px;
                justify-content: space-between;
                li a {
                    font-size: 18px;
                    font-weight: 500;
                }
                @media screen and (max-width: 650px) {
                    position: absolute;
                    display: grid;
                }
            }
            .Logo {
                font-size: 30px;
                font-weight: 600;
            }
            .telephone__number {
                font-size: 24px;
                font-weight: 600;
                border-bottom: 1px solid #333333;
                @media only screen and (max-width: 1000px) {
                    display: none;
                }
            }
        }
        .intro {
            display: flex;
            justify-content: space-between;
            .intro__content {
                margin-top: 63px;
                @media screen and (max-width: 1000px) {
                    
                }
                h2 {
                    font-weight: 700;
                    font-size: 70px;
                    line-height: 70px;
                    @media screen and (max-width: 1000px) {
                        font-size: 40px;
                        line-height: normal;
                    }
                }
                h3 {
                    font-size: 30px;
                    font-weight: 600;
                    margin-top: 23px;
                    margin-bottom: 50px;
                    @media screen and (max-width: 1000px) {
                        font-size: 20px;
                    }
                }
                button {
                    font-size: 24px;
                    font-weight: 600;
                    width: 304px;
                    height: 60px;
                    background-color: #FF352B;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    position: relative;
                    transform-style: preserve-3d;
                    color: #F2F2F2;
                    margin-bottom: 76px;
                    @media screen and (max-width: 1000px) {
                        width: 152px;
                        height: 30px;
                        font-size: 18px;
                        margin-bottom: 36px;
                    }
                    &::after {
                        content: "";
                        display: block;
                        width: 304px;
                        height: 60px;
                        border: 2px solid #F2F2F2;
                        position: absolute;
                        left: 10px;
                        top: 10px;
                        transform: translateZ(-1px);
                        @media screen and (max-width: 1000px) {
                            display: none;
                        }
                    }
                }
                .intro__advantages {
                    display: flex;
                    .advantages__header{
                        @extend %advantages_property;
                        @media screen and (max-width: 1000px) {
                            p {
                                margin-right: 15px;
                            }
                        }
                        @media screen and (max-width: 820px) {
                            display: none;
                        }
                    }
                }
            }
            .intro__image {
                position: absolute;
                bottom: -4px;
                left: 616px;
                transform-style: preserve-3d;
                @media only screen and (max-width: 1000px) {
                    left: 65%;
                }
                @media screen and (max-width: 820px) {
                    left: 50%;
                }
                & img {
                    @media screen and (max-width: 1000px) {
                        width: 250px;
                        height: 400px;
                    }
                }
                &::after {
                    content: "";
                    display: block;
                    background-image: url("images/header-car.png");
                    width: 499px;
                    height: 300px;
                    position: absolute;
                    bottom: 170px;
                    left: 299px;
                    transform: translateZ(-1px);
                    @media screen and (max-width: 1200px){
                        display: none;
                    }
                }
            }
        }
    }
}

//// Plan section
#plan__section {
    margin-top: 95px;
    .plan__inner {
        h2 {
            font-size: 30px;
            font-weight: 600;
            text-align: center;
            @media screen and (max-width:550px) {
                font-size: 25px;
            }
        }
        .plan__steps {
            margin-top: 60px;
            display: flex;
            flex-wrap: wrap;
            margin-left: 105px;
            margin-right: 105px;
            @media screen and (max-width:1260px) {
                flex-direction: column;
                align-items: center;
            }
            @media screen and (max-width:750px) {
                margin-left: 0;
                margin-right: 0;
            }
            @media screen and (max-width:550px) {
               align-items: flex-start;
               margin-left: 10%;
            }
            .steps {
                margin-bottom: 50px;
                flex: 50%;
                display: flex;
                @media screen and (max-width:550px) {
                    align-items: center;
                }
                h3 {
                    font-size: 50px;
                    font-weight: 300;
                    text-shadow: 1px 1px #FED100;
                    @media screen and (max-width:550px) {
                        font-size: 30px;
                    }
                }
                .plan__description {
                    text-align: start;
                    margin-left: 42px;
                    @media screen and (max-width:550px) {
                        margin-left: 22px;
                    }
                    h4 {
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 24px;
                        @media screen and (max-width:550px) {
                            font-size: 16px;
                        }
                    }
                    p {
                        margin-top: 15px;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 21px;
                        @media screen and (max-width:550px) {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
//// Price section
#price__section {
    margin-top: 105px;
    .price__inner {
        position: relative;
        text-align: center;
        h2 {
            font-size: 30px;
            font-weight: 600;
        }
        h3 {
            font-size: 24px;
            font-weight: 600;
            margin-top: 15px;
            @media screen and (max-width:700px) {
                width: 350px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .price__cards__container {
            margin-top: 60px;
            display: flex;
            justify-content: space-between;
            @media screen and (max-width:950px) {
                height: 579px;
                width: 421px;
            }
            .price__cards {
                width: 421px;
                height: 579px;
                border: 1px solid #EBEBEB;
                display: flex;
                flex-direction: column;
                @media screen and (max-width: 950px) {
                    position: absolute;
                    right: -100%;
                    display: none;
                }
                &:hover {
                    border-color: #FED100;
                    transition: 0.6s;
                }
                h4 {
                    font-size: 24px;
                    font-weight: 600;
                    margin-top: 84px;
                }
                p {
                    
                    font-size: 16px;
                    font-weight: 400;
                    margin-top: 52px;
                    line-height: 46px;
                }
                span {
                    font-size: 30px;
                    font-weight: 600;
                    margin-top: 68px;
                }
                button {    
                    font-size: 20px;
                    font-weight: 500;
                    width: 250px;
                    height: 50px;
                    background-color: #FED100;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    margin: 52px auto;
                }
                &:nth-child(1) {
                    @media screen and (max-width: 950px) {
                        left: 50%;
                        transform: translateX(-50%);
                        display: flex;
                    }
                }
            }
        }
        .scroll__price {
            display: flex;
            width: 100px;
            justify-content: space-between;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            bottom: 0;
            div {
                width: 20px;
                height: 20px;
                border-radius: 100%;
                border: 1px solid #333333;
                cursor: pointer;
            }
        }
    }
}
.active__dot {
    background-color: #FF352B;
}
//// Auto parck section
#auto__park__section {
    margin-top: 102px;
    .auto__park__inner {
        h2 {
            font-size: 30px;
            font-weight: 600;
            text-align: center; 
        }
        h3 {
            font-size: 24px;
            font-weight: 600;
            margin-top: 15px;
            text-align: center;
        }
        .auto__select__container {
            margin: 60px auto;
            display: flex;
            justify-content: space-between;
            width: 640px;
            button {
                font-size: 20px;
                font-weight: 500;
                width: 200px;
                height: 50px;
                background-color: #ffffff;
                outline: none;
                cursor: pointer;
                border: 1px solid #EBEBEB;
            }
        }
        .auto__description__container {
            margin-top: 47px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .auto__description  {
                h3 {
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 37px;
                }
                ul {
                    li {
                        font-size: 16px;
                        font-weight: 400;
                        margin-top: 28px;
                    }
                    li:before {
                        content: url("images/checkIcon.png");
                        margin-right: 15px;
                    }
                }
                button {
                    margin-top: 35px;
                    font-size: 20px;
                    font-weight: 500;
                    width: 250px;
                    height: 50px;
                    background-color: #FED100;
                    border: none;
                    outline: none;
                    cursor: pointer;
                }
            }
            img {
                margin-right: 13%;
            }
        }
    }
}
//// Reviews
#reviews__section {
    background-color: #FED100;
    margin-top: 46px;
    .reviews__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            margin-top: 100px;
            font-size: 30px;
            font-weight: 600;
        }
        .reviews__container {
            width: 100%;
            margin-top: 60px;
            display: flex;
            justify-content: space-between;
            .reviews {

                h3 {
                    font-size: 24px;
                    font-weight: 600;
                }
                .date__review {
                    margin-top: 10px;
                    font-size: 16px;
                    font-weight: 400;
                    &:after {
                        content: "5 star))";
                        margin-left: 20px;
                    }
                }
                p {
                    margin-top: 20px;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
        button {
            width: 250px;
            height: 50px;
            background-color: #FED100;
            border: 1px solid #333333;
            outline: none;
            cursor: pointer;
            margin-top: 60px;
            margin-bottom: 94px;
        }
    }
}
//// Command
#comand__section {
    margin-top: 124px;
    .comand__inner {
        width: 1000px;
        h2 {
            font-size: 30px;
            font-weight: 600;
        }
        h3 {
            margin-top: 10px;
            font-size: 16px;
            font-weight: 400;
        }
        .contacts__input {
            margin-top: 34px;
            display: flex;
            justify-content: space-between;
            .info__comand {
                font-size: 20px;
                font-weight: 500;
                opacity: 0.7;
                width: 300px;
                height: 34px;
                border: none;
                border-bottom: 1px solid #333333;
            }
            .comand__button__check {
                display: flex;
                flex-direction: column;
                button {
                    position: relative;
                    font-size: 20px;
                    font-weight: 500;
                    width: 250px;
                    height: 50px;
                    background-color: #FF352B;
                    outline: none;
                    cursor: pointer;
                    border: none;
                    color: #F2F2F2;
                    transform-style: preserve-3d;
                    &::after {
                        content: "";
                        display: block;
                        width: 250px;
                        height: 50px;
                        border: 1px solid #FED100;
                        position: absolute;
                        left: 10px;
                        top: 10px;
                        transform: translateZ(-1px);
                    }
                }
                .check__box {
                    margin-top: 22px;
                    position: relative;
                    border: 1px solid #333333;
                    &:after {
                        content: "Даю согласие на обработку данных";
                        width: 230px;
                        left: 30px;
                        font-size: 12px;
                        font-weight: 400;
                        position: absolute;
                        color: #333333;
                    }
                }
            }
        }
    }
}
//// Map
#map__section {
    margin-top: 124px;
    background-image: url("images/map.png");
    height: 666px;
    .map__inner {
        .adress {
            background-color: white;
            width: 368px;
            height: 326px;
            margin-top: 162px;
            margin-left: 10%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2 {
                font-size: 30px;
                font-weight: 600;
                margin-left: 35px;    
            }
            ul {
                margin-left: 35px;
                margin-top: 40px;
                li {
                    font-size: 16px;
                    font-weight: 400;
                    margin-bottom: 19px;
                    &::before {
                        content: "✓";
                        color: #FED100;
                        margin-right: 15px;
                    }
                }
            }
            .socials {
                margin-top: 54px;
                display: flex;
                justify-content: space-between;
                width: 40%;
                margin-left: 50%;
                img {

                }
            }
        }
    }
}
//// Footer
#footer__section {
    background-color: #FED100;
    height: 400px;
    .footer__inner {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        .first__container__footer {
            h2 {
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 44px;
            }
            p {
                margin-bottom: 36px;
                font-size: 16px;
                font-weight: 400;
            }
        }
        .nav__footer {
            ul {
                li {
                    margin-bottom: 15px;
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }
        .socials__footer {
            position: relative;
            img {
                margin-left: 15px;
            }
            &:after {
                content: "hello@movee.ru";
                position: absolute;
                left: 15px;
                top: 25px;
            }
        }
        .call__back {
            text-align: center;
            button {
                font-size: 20px;
                font-weight: 500;
                width: 250px;
                height: 44px;
                cursor: pointer;
                outline: none;
                border: 1px solid #333333;
                background-color: #FED100;
            }
            p {
                margin-top: 5px;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}